Coloring/__pycache__/main.cpython-310.pyc
Coloring/__pycache__/main.cpython-311.pyc
Coloring/AIResult/__pycache__/__init__.cpython-310.pyc
Coloring/AIResult/__pycache__/__init__.cpython-311.pyc
Coloring/AIResult/__pycache__/AIResult.cpython-310.pyc
Coloring/AIResult/__pycache__/AIResult.cpython-311.pyc
Coloring/Boundary/__pycache__/__init__.cpython-310.pyc
Coloring/Boundary/__pycache__/Boundary.cpython-310.pyc
Coloring/Img/y9GF0YOdq1ht6nZBsVe-srWZyJbT9w5F0GxTlLUs44A2nOqkn5
Coloring/ImgCtrl/__pycache__/__init__.cpython-311.pyc
Coloring/ImgCtrl/__pycache__/__init__.cpython-310.pyc
Coloring/ImgCtrl/__pycache__/ImgCtrl.cpython-310.pyc
Coloring/ImgCtrl/__pycache__/ImgCtrl.cpython-311.pyc
selenium/mailing-421207-c0e8e568b22a.json
selenium/script_hosipital_result.xlsx
script_pension_result.xlsx
Coloring/AIResult/__pycache__/AIResult_module.cpython-310.pyc
Coloring/Boundary/__pycache__/Boundary_module.cpython-310.pyc
Coloring/ImgCtrl/__pycache__/ImgCtrl_module.cpython-310.pyc
Coloring/ImgCtrl/__pycache__/qwer.cpython-310.pyc
similarity_analyzer/**/*.pyc
similarity_analyzer/Img