Coloring/__pycache__/main.cpython-310.pyc
Coloring/__pycache__/main.cpython-311.pyc
Coloring/AIResult/__pycache__/__init__.cpython-310.pyc
Coloring/AIResult/__pycache__/__init__.cpython-311.pyc
Coloring/AIResult/__pycache__/AIResult.cpython-310.pyc
Coloring/AIResult/__pycache__/AIResult.cpython-311.pyc
Coloring/Boundary/__pycache__/__init__.cpython-310.pyc
Coloring/Boundary/__pycache__/Boundary.cpython-310.pyc
Coloring/Img/y9GF0YOdq1ht6nZBsVe-srWZyJbT9w5F0GxTlLUs44A2nOqkn5
Coloring/ImgCtrl/__pycache__/__init__.cpython-311.pyc
Coloring/ImgCtrl/__pycache__/__init__.cpython-310.pyc
Coloring/ImgCtrl/__pycache__/ImgCtrl.cpython-310.pyc
Coloring/ImgCtrl/__pycache__/ImgCtrl.cpython-311.pyc
selenium/mailing-421207-c0e8e568b22a.json
selenium/script_hosipital_result.xlsx
script_pension_result.xlsx
Coloring/AIResult/__pycache__/AIResult_module.cpython-310.pyc
Coloring/Boundary/__pycache__/Boundary_module.cpython-310.pyc
Coloring/ImgCtrl/__pycache__/ImgCtrl_module.cpython-310.pyc
Coloring/ImgCtrl/__pycache__/qwer.cpython-310.pyc
script_hospital_result.xlsx
script_hospital_result.xlsx
script_hospital_result.xlsx
script_hospital_result.xlsx
script_pension_result.csv
script_pension_result.xlsx
script_result.csv
script_shoping_result.xlsx
test_9.xlsx
test_12_concat_all.xlsx
test_16.xlsx
test.csv
test.xlsx
Coloring/Dockerfile
Coloring/ElementDetect.pt
Coloring/main.py
Coloring/unnamed.jpg
Coloring/AIResult/__init__.py
Coloring/AIResult/AIResult_module.py
Coloring/Boundary/__init__.py
Coloring/Boundary/Boundary_module.py
Coloring/Img/processed_image.jpg
Coloring/Img/y9GF0YOdq1ht6nZBsVe-srWZyJbT9w5F0GxTlLUs44A2nOqkn5.jpeg
Coloring/ImgCtrl/__init__.py
Coloring/ImgCtrl/ImgCtrl_module.py
similarity_analyzer/ElementDetect.pt
similarity_analyzer/__pycache__/main.cpython-310.pyc
similarity_analyzer/__pycache__/main.cpython-311.pyc
similarity_analyzer/AIResult/__pycache__/__init__.cpython-310.pyc
similarity_analyzer/AIResult/__pycache__/__init__.cpython-311.pyc
similarity_analyzer/AIResult/__pycache__/AIResult_module.cpython-310.pyc
similarity_analyzer/AIResult/__pycache__/AIResult.cpython-310.pyc
similarity_analyzer/AIResult/__pycache__/AIResult.cpython-311.pyc
similarity_analyzer/Boundary/__pycache__/__init__.cpython-310.pyc
similarity_analyzer/Boundary/__pycache__/Boundary_module.cpython-310.pyc
similarity_analyzer/Boundary/__pycache__/Boundary.cpython-310.pyc
